# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/settings.json
.idea/

# Firebase
.firebase/

# Logs
*.log

